<app-top-bar [title]="i18n.t('settings-page.settings')">
  <app-back-button left />
</app-top-bar>
<main>
  <h2>{{ i18n.t("settings-page.account") }}</h2>
  <div class="item">
    <a routerLink="account"
      ><p-button
        [label]="i18n.t('settings-page.edit')"
        icon="pi pi-user-edit"
        iconPos="right"
        text="true"
    /></a>
    <p-button
      [label]="i18n.t('settings-page.log-out')"
      icon="pi pi-sign-out"
      iconPos="right"
      text="true"
      (onClick)="onAccountSwitch()"
    />
  </div>
  <h2>{{ i18n.t("settings-page.preferences") }}</h2>
  <div class="item">
    <label>{{ i18n.t("settings-page.language") }}</label>
    <p-dropdown
      [options]="languages"
      [(ngModel)]="i18n.language"
      optionLabel="label"
      optionValue="value"
    />
  </div>
  <div class="item">
    <label>{{ i18n.t("settings-page.theme") }}</label>
    <p-dropdown
      [options]="themes"
      [(ngModel)]="themeService.theme"
      optionLabel="label"
      optionValue="value"
    />
  </div>
</main>
