<app-top-bar [title]="i18n.t('register-page.register')" />
<main>
  <form [formGroup]="form.group">
    <div class="field">
      <label for="fullName">{{ i18n.t("register-page.name") }}</label>
      <input
        formControlName="fullName"
        id="fullName"
        pInputText
        type="text"
        placeholder="John Smith"
        required
      />
    </div>
    @if (form.showError("fullName")) {
      <small class="error">{{ i18n.t("register-page.invalid-name") }}</small>
    }
    <div class="field">
      <label for="email">{{ i18n.t("register-page.email") }}</label>
      <input
        formControlName="email"
        id="email"
        pInputText
        type="email"
        placeholder="john.smith@example.com"
        required
      />
    </div>
    @if (form.showError("email")) {
      <small class="error">{{ i18n.t("register-page.invalid-email") }}</small>
    }
    <div class="field">
      <label for="password">{{ i18n.t("register-page.password") }}</label>
      <p-password
        formControlName="password"
        inputId="password"
        feedback="false"
        toggleMask="true"
        required
      />
    </div>
    @if (form.showError("password")) {
      <small class="error">{{ i18n.t("register-page.password-short") }}</small>
    }
    <div class="field">
      <label for="repeat">{{ i18n.t("register-page.repeat") }}</label>
      <p-password
        formControlName="repeat"
        inputId="repeat"
        feedback="false"
        toggleMask="true"
        required
      />
    </div>
    @if (form.showError("repeat")) {
      <small class="error">{{
        i18n.t("register-page.password-mismatch")
      }}</small>
    }
    <div class="center">
      <p-button
        [disabled]="form.isSubmitDisabled"
        [loading]="form.isLoading"
        (onClick)="onSubmit()"
        [label]="i18n.t('register-page.submit')"
        type="submit"
        icon="pi pi-user-plus"
        iconPos="right"
      />
    </div>
    @if (form.isError) {
      <small class="error">{{ i18n.t("register-page.email-taken") }}</small>
    }
  </form>
  <p-divider [align]="'center'">{{ i18n.t("register-page.or") }}</p-divider>
  <div class="center">
    <a routerLink="/auth/login"
      ><p-button
        [label]="i18n.t('register-page.login')"
        icon="pi pi-sign-in"
        iconPos="right"
        severity="secondary"
    /></a>
  </div>
</main>
