main {
  padding: 2rem 1rem;
  max-width: 35rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.card {
  width: 100%;
}

.card ::ng-deep .p-card-body {
  padding: 1rem;
  gap: 0.5rem;
}

.card ::ng-deep .p-card-content {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.card ::ng-deep div {
  flex: 1;
}

.card ::ng-deep h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 0 0.5rem 0;
}

.card ::ng-deep p {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card ::ng-deep i {
  font-size: 1.5rem;
}
