<app-top-bar title="Offer">
    <app-back-button left />
</app-top-bar>
<main>
    <div class="showcase">
        <app-offer-card [offer]="offer" />
    </div>
    <div class="sheet">
        <div class="payment">
            <p-button label="Purchase" icon="pi pi-shopping-cart" iconPos="right" severity="success" />
            <div class="select">
                <label>Payment method:</label>
                <p-dropdown [options]="paymentMethodOptions" [(ngModel)]="paymentMethod" optionLabel="label"
                    optionValue="value" />
            </div>
        </div>
    </div>
</main>
