main {
  max-width: 35rem;
  margin: 0 auto;
  padding: 1rem;
}

.not-found p {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.not-found a {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

section:first-child h2 {
  margin-top: 0;
}
