<main>
    <p-selectButton [options]="ticketKinds" [(ngModel)]="kind" optionLabel="label" optionValue="value"
        unselectable="true" />
    <section *ngFor="let group of groups">
        <h2>{{group.label}}</h2>
        <div class="offer-list">
            <a *ngFor="let offer of group.offers" class="offer" [routerLink]="'/passenger/shop/' + offer.id">
                <div class="offer-top">
                    <div class="offer-kind" [attr.data-kind]="offer.kind">
                        {{labelOf(offer.kind)}}
                    </div>
                    <div class="offer-name">
                        {{offer.displayNameEn.replaceAll(" ", "\n")}}
                    </div>
                </div>
                <div class="offer-bot">
                    {{(offer.priceGrosze / 100).toFixed(2)}} zł
                </div>
            </a>
        </div>
    </section>
</main>
