<aside class="sheet">
  <div class="payment">
    <p-button
      severity="success"
      iconPos="right"
      [label]="finalizeLabel"
      [disabled]="finalizeDisabled"
      [loading]="finalizeLoading"
      (onClick)="onFinalizeStart()"
    />
    <div class="select">
      <label>{{ i18n.t("payment-sheet.payment-method") }}:</label>
      <p-dropdown
        [options]="allowedPaymentIds"
        [ngModel]="paymentId"
        (ngModelChange)="onPaymentIdChange($event)"
      >
        <ng-template pTemplate="selectedItem">
          <i [class]="['pi', method(paymentId).icon]"></i>
          {{ method(paymentId).name }}
        </ng-template>
        <ng-template let-id pTemplate="item">
          <i [class]="['pi', method(id).icon]"></i>
          {{ method(id).name }}
        </ng-template>
      </p-dropdown>
    </div>
  </div>
</aside>
<p-dialog
  [header]="dialogHeader"
  [modal]="true"
  [visible]="dialogVisible"
  (visibleChange)="onDialogClose()"
>
  <p-inputOtp
    [(ngModel)]="otp"
    [length]="otpLength"
    [integerOnly]="true"
    [mask]="true"
    [disabled]="rechargeLoading"
  />
  <p-button
    severity="success"
    iconPos="right"
    [label]="i18n.t('payment-sheet.submit')"
    [disabled]="rechargeDisabled"
    [loading]="rechargeLoading"
    (onClick)="onRechargeStart()"
  ></p-button>
</p-dialog>
