<app-top-bar title="Settings">
    <app-back-button left />
</app-top-bar>
<h2>Account</h2>
<div class="item">
    <span>Tomasz Chojnacki</span>
    <a routerLink="account"><p-button label="Edit" icon="pi pi-user-edit" iconPos="right" text="true" /></a>
</div>
<h2>Preferences</h2>
<div class="item">
    <label>Ticket kind</label>
    <p-dropdown [options]="ticketKinds" [(ngModel)]="selectedTicketKind" optionLabel="name" />
</div>
<div class="item">
    <label>Language</label>
    <p-dropdown [options]="languages" [(ngModel)]="selectedLanguage" optionLabel="name" />
</div>
<div class="item">
    <label>Theme</label>
    <p-dropdown [options]="themes" [(ngModel)]="selectedTheme" optionLabel="name" />
</div>
