:host ::ng-deep .p-toolbar {
  background: var(--surface-card);
  border-radius: 0;
}

:host ::ng-deep .p-toolbar .p-toolbar-group-start {
  flex: 1;
  justify-content: flex-start;
}

:host ::ng-deep .p-toolbar .p-toolbar-group-center {
  flex: 1;
  justify-content: center;
}

:host ::ng-deep .p-toolbar .p-toolbar-group-end {
  flex: 1;
  justify-content: flex-end;
}

.title {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}
